@import url(https://lift-ui.netlify.app/lift.css);

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 6.5rem auto;
  width: fit-content;
}

.centered {
  width: 100%;
  margin: auto;
}

.btn-no-hover:hover {
  transform: scale(1);
}

.btn-header{
  padding: 0.5rem;
  margin: 0.1rem 0rem;
}

.flex-dis {
  display: flex;
}

.thumbnail{
  margin: 1rem;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.toolbar{
  border: 0.2rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}